@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=MonteCarlo&family=Montserrat:wght@100;400;900&display=swap');
@font-face {
    font-family: 'Pretendard';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

*[lang="en"] , .en{
    font-family:'MonteCarlo', sans-serif;
}

body {
    background-color:#222;
    background-image:url('../images/body_bg.jpg');
    background-size:100% auto;
    background-repeat:no-repeat;
    color:#fff;
    height:3000px;
    font-family: 'Pretendard',sans-serif;
}
.page-header{ 
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:20px 50px;
    position:fixed;
    left:0;
    top:0;
    right:0; 
    transition:0.4s;
}

.page-header h1 {
    
}

.page-header nav { 
   display:flex;
   column-gap:7px;
}
.page-header a{
    display:block;
    border:1px solid rgba(255,255,255,0.3);
    border-radius:4px;
    padding:7px;
    font-size:12px;
}
.page-header .join{
    background-color:#fe153c;
    border-color:#fe153c;
}

.intro {
    text-align:center;
    padding:20vh 0;
}

/* 
vh : viewport height 100% == 100vh
vw : viewport width   100% == 100vw
*/

.intro p{
    font-size:40px;
    font-weight:bold;
    
} 
.tlogin{
    display:block;
    border-radius:10px;
    background-color:red;
    width:370px;
    margin:40px auto 0; 
    padding:20px 0;
    font-size:20px; 
}

.page-main {
    text-align:center;
    font-weight:bold;
}

.page-main > section {
    padding:20vh 0;
} 
 
.page-main h2 {
    font-size:40px;
}

.page-main header p {
    font-size:20px;
} 

.page-main > section header {
    margin-bottom:30px;
}
.conte img{
    display:flex;
    justify-content:space-around;
    flex-direction:row;
    align-items:center;
    position:relative;
}
.position-test{
    display:flex;
    flex-direction:row;
    background-color:blue;
}